html 
head 
    script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
    link(rel="stylesheet" href='../css/500.css')  
    script(src='../js/500.js' defer)
body
    .Wrapper
        .left Error
        .right Error
        canvas#five(width="550" height="205")

    h1 Error :(
    p It's always time for a coffee break. 
    p We should be back by the time you finish your coffee.
    p 維修時間 12/7 21:45 ~ 12/8 02:00
