doctype html 
head 
    link(rel="stylesheet" href='./css/index.css')  
    script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
    //  Latest compiled and minified CSS 
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')

body
.loading 
    img#loadingImg(src='../media/img/loading.gif')
.indexContainer
    .d-flex.justify-content-center
        .loginbarContainer(style='display:flex')
            .loginwithAccount
                h2.loginbarTitle YZUIC Task Manager
                .form-floating.mb-2(style='width: 80%;')
                    input#Account.form-control(type='text' placeholder='帳號')
                    label(for='floatingInput') Account
                .form-floating(style='width: 80%;')
                    input#Password.form-control(type='password' placeholder='密碼')
                    label(for='floatingPassword') Password
                .loginBtn
                    button#loginNormal.btn.btn-secondary(type='button' style='width:100px') 登入
            .loginwithAnother
                h4.loginbarTitle Author
                img#Author(src='../media/img/amumamum.PNG')
                p#AuthorRight Copyright© Henry.H 
                p#AuthorRight All right reserved.


script(src='./js/index.js')