::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-button {
  background: #fff;
}

::-webkit-scrollbar-track-piece {
  background: #aaa;
}

::-webkit-scrollbar-corner {
  border: 1px solid red;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid slategrey;
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.51'%3E%3Cpolygon fill='%23FFFF52' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23FFFF52' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

#loadingImg {
  position: fixed;
  top: calc(100vh / 3);
  left: calc(100vw / 3 + 100px);
  z-index: 10001;
}

.ProgramBar {
  width: 100vw;
  height: 7vh;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 245, 79, 0.902);
}

.ProgramBtn {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.ProgramLogout {
  width: 7%;
}

.ProgramTitle {
  user-select: none;
  width: 15%;
  height: 7vh;
  line-height: 7vh;
  font-weight: 1000;
  cursor: pointer;
}

.ProgramDiv {
  transition-duration: 0.3s;
  user-select: none;
  width: 15%;
  height: 7vh;
  text-align: center;
  line-height: 7vh;
  font-weight: 1000;
  border-radius: 10px;
  cursor: pointer;
}

.ProgramDiv:hover {
  transition-duration: 0.3s;
  background-color: rgba(255, 255, 255, 0.6);
}

.ProgramDiv:active {
  transition-duration: 0.3s;
  background-color: #0dcaf0;
}

.adminContainer {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100vw;
}

#StatusTitle {
  font-family: "Silkscreen", cursive;
  font-size: 2em;
  font-weight: bolder;
}

.totalStatus_div {
  margin: 0 auto;
  width: 95vw;
  padding: 10px 10px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.statusProgressDiv {
  width: 15%;
  height: 80%;
  text-align: center;
}

.form-select {
  cursor: pointer;
}

.weekStatus_div {
  margin: 0 auto;
  margin-top: 30px;
  width: 95vw;
  padding: 10px 10px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.weekMission_div {
  margin: 0 auto;
  margin-top: 30px;
  width: 95vw;
  padding: 10px 10px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.weekMindingScore_div {
  margin: 0 auto;
  margin-top: 30px;
  width: 50vw;
  padding: 10px 10px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

#minding_Score {
  width: 25% !important;
}

.missionComplete {
  background-color: rgba(45, 255, 45, 0.5) !important;
}

.missionUncomplete {
  background-color: rgba(255, 45, 45, 0.5) !important;
}

.studentBtnContainer h1,
.dataPageBtnContainer h1,
.studentBtnContainer h1,
.responseSearchDiv h1 {
  font-family: "Silkscreen", cursive;
  font-weight: bolder;
}

.studentData_Number {
  width: 10%;
  height: 70px;
  line-height: 65px;
  font-size: 30px;
  font-family: "Silkscreen", cursive;
  font-weight: bolder;
}

.studentData_Id {
  width: 10%;
  height: 70px;
  line-height: 65px;
  font-size: 30px;
  font-family: "Silkscreen", cursive;
  font-weight: bolder;
}

.studentData_Name {
  width: 10%;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  font-weight: bolder;
}

.studentData_Detail {
  width: 12%;
  height: 70px;
  line-height: 70px;
  font-size: 15px;
}

.studentData_Setting {
  width: 15%;
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

#responseSetting {
  width: 20%;
}

.Selecting {
  background-color: purple !important;
}

.input-group-text {
  background-color: white;
}

@media (max-width: 1500px) {
  .ProgramBtn {
    width: 70%;
  }

  .studentData_Setting {
    width: 35%;
  }

  .dataDetailContainer {
    height: 500px !important;
  }

  #responseSetting {
    width: 28%;
  } 
  .container{
    left:3vw !important;
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1073px) {
  .ProgramBtn {
    width: 80%;
  }

  .studentData_Number {
    width: 10%;
  }

  .studentData_Id {
    width: 15%;
    font-size: 25px;
  }

  #responseSetting {
    width: 45%;
  }

  .weekSwitchBtn h1 {
    font-size: 30px;
    line-height: 150%;
  }

  .dataDetailContainer {
    display: block !important;
  }

  .dataDetail_data {
    width: 100% !important;
  }

  .dataDetail_mission {
    width: 100% !important;
  }
}