.manageComponents {
  margin: 15px;
  width: 50%;
  height: 95%;
  background-color: rgba(78, 78, 78, 0.3);
  text-align: center;
}
.manageUserDeside {
  margin: 15px;
  width: 50%;
  height: 95%;
  text-align: center;
}
