.mindingManage {
  margin: 10px;
  width: 60%;
  height: 95%;
  text-align: center;
}

.missionComplete{
  transition-duration: 0.3s;
  background-color: rgba(55, 255, 0, 0.592) !important;
}

.mindingConclusion {
  user-select: none;
  margin: 15px;
  width: 40%;
  height: 95%;
  text-align: center;
}

.manageFixing {
  user-select: none;
  margin: 0 auto;
  width: 95%;
  height: 50%;
}

.manageRanking {
  user-select: none;
  margin: 0 auto;
  margin-top: 5%;
  width: 95%;
  height: 40%;
}
