.responseTeacher {
  margin: 15px;
  width: 50%;
  height: 95%;
  border-radius: 20px;
  text-align: center;
}
.responseStudent {
  margin: 15px;
  width: 50%;
  height: 95%;
  border-radius: 20px;
  text-align: center;
}
